In [7]:
import csv
data_file = open('picks.csv', 'w', newline='')
csv_writer = csv.writer(data_file)
header=("championid1","championid2","championid3","championid4","championid5","championid6","championid7","championid8","championid9","championid10","152")
csv_writer.writerow(header)

126

In [8]:
import pandas as pd
df2=pd.read_csv('personal_and_champion_win_rates.csv')
X2=df2["championid"]
df2

   championid   winrate  championwinrate
0          54  0.602708           0.4881
1          77  0.493750           0.5050
2          50  0.200000           0.4978
3          24  0.670000           0.5035
4           6  0.556667           0.5170

In [9]:
list=[]
list.append(0)
pick1=int(input("first pick:")) 
list.append(pick1) 
pick2=int(input("second pick:")) 
list.append(pick2) 
pick3=int(input("third pick:")) 
list.append(pick3)
pick4=int(input("fourth pick:")) 
list.append(pick4)
pick5=int(input("fifth pick:")) 
list.append(pick5)
pick6=int(input("sixth pick:")) 
list.append(pick6)
pick7=int(input("seventh pick:")) 
list.append(pick7)
pick8=int(input("eighth pick:")) 
list.append(pick8)
pick9=int(input("nineth pick:")) 
list.append(pick9)
pick10=int(input("tenth pick:")) 
list.append(pick10)
list.append(153)

first pick:15
second pick:111
third pick:13
fourth pick:41
fifth pick:31
sixth pick:6
seventh pick:34
eighth pick:48
nineth pick:52
tenth pick:59

In [10]:
for i in range(5):
    list[5]=X2[i]
    csv_writer.writerow(list)

In [11]:
data_file.close()