In [1]:
import csv
import pandas as pd

df1=pd.read_csv('personal_win_rate.csv')
x=(df1["Champid"])
y=(df1["Winrate"])
df1

   Champion   Winrate  Champid
0  Renekton  0.602708       54
1     Garen  0.493750       77
2  Malphite  0.200000       50
3       Jax  0.670000       24
4     Urgot  0.556667        6
5      Gnar  0.670000      114

In [2]:
champ1=x[0]
champ1_winr=y[0]
champ2=x[1]
champ2_winr=y[1]
champ3=x[2]
champ3_winr=y[2]
champ4=x[3]
champ4_winr=y[3]
champ5=x[4]
champ5_winr=y[4]

In [3]:
data_file = open('personal_and_champion_win_rates.csv', 'w', newline='')
csv_writer = csv.writer(data_file)
header=("championid","winrate","championwinrate")
csv_writer.writerow(header)

36

In [4]:
df=pd.read_csv('champion_win_rates.csv')
df

          Champid  Champno  winrate
0           0.0.0      NaN      NaN
1           Annie      1.0   0.5279
2            Olaf      2.0   0.4811
3           Galio      3.0   0.5193
4    Twisted Fate      4.0   0.4859
..            ...      ...      ...
150          Rell    150.0   0.4903
151          Pyke    151.0   0.4979
152          Sett    152.0   0.5058
153        Lillia    153.0   0.4405
154          Yone    154.0   0.4899

[155 rows x 3 columns]

In [5]:
list1=[]
list1.append(0)
list1.append(champ1)
list1.append(champ1_winr)
list1.append(df["winrate"][champ1])

list2=[]
list2.append(1)
list2.append(champ2)
list2.append(champ2_winr)
list2.append(df["winrate"][champ2])

list3=[]
list3.append(2)
list3.append(champ3)
list3.append(champ3_winr)
list3.append(df["winrate"][champ3])

list4=[]
list4.append(3)
list4.append(champ4)
list4.append(champ4_winr)
list4.append(df["winrate"][champ4])

list5=[]
list5.append(4)
list5.append(champ5)
list5.append(champ5_winr)
list5.append(df["winrate"][champ5])

csv_writer.writerow(list1)
csv_writer.writerow(list2)
csv_writer.writerow(list3)
csv_writer.writerow(list4)
csv_writer.writerow(list5)

29

In [6]:
data_file.close()